/* main colors:
#F9A61E yallow
#1F8BCC blue
#006CAD dark blue
#3d3d3d
#303030
----------------------
#1ab188 green
rgba(19, 35, 47, 0.9) blue
#c1bdba gray
 */



.add-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.add-modal .modal-content {
    justify-self: center;
    align-self: center;
    /* position: fixed; */
    /* bottom: 0; */
    background-color: rgba(0,0,0,0);
    /* width: 80%; */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 15px;
}

/* Modal Content */
#add-screen-modal .modal-content {
    justify-self: center;
    /* align-self: end; */
    /* position: fixed; */
    /* bottom: 0; */
    background-color: rgba(0,0,0,0);
    width: 60%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
    /* border-radius: 5px; */

}

/* The Close Button */
.add-modal .close {
    color: white;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
}

.add-modal .close:hover,
.add-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.add-modal .modal-header {
    padding: 20px 16px;
    background-color: rgba(19, 35, 47, 1);
    color: #FFF;
    border-radius: 10px 10px 0px 0px;
}

.add-modal .modal-body {
    color: rgba(19, 35, 47, 0.9);
    background-color: #c1bdba;
    padding: 20px 16px;
}

.add-modal .modal-body .add-form{
    display: grid;
    grid-row-gap: 10px;
}

.add-modal .modal-body .form-element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
}
.add-modal .modal-body .divider{
    height: 1px;
}

#add-screen-modal .modal-body .form-element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.add-modal .modal-footer .add{
    display: none;
    grid-auto-flow: column;
    justify-content: start;
    grid-column-gap: 10px;
}

.add-modal .loading{
    display: none;
    justify-content: center;
    text-align: center;
    /* font-size: 2em; */
    color: #1F8BCC;
}

.add-modal .loading p{
    font-size: 1.3em;
    font-weight: bold;
}

.add-modal .loading i{
    justify-self: center;
    font-size: 5em;
}

.add-modal .done{
    display: none;
    justify-content: center;
    color: #0c0;
}

.add-modal .done .good{
    display: none;
    justify-content: center;
    color: #0c0;
}

.add-modal .done .error{
    display: none;
    justify-content: center;
    color: #cc0;
}

.add-modal .done i{
    justify-self: center;
    font-size: 5em;
}
.add-modal .done p{
    font-size: 2em;
}

.add-modal .modal-footer {
    padding: 20px 16px;
    background-color: rgba(19, 35, 47, 1);
    color: white;
    border-radius: 0px 0px 10px 10px;

}



/* Add Animation */
@-webkit-keyframes slideIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes slideIn {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
