/* main colors:
#F9A61E yallow
#1F8BCC blue
#006CAD dark blue
#3d3d3d
#303030
----------------------
#1ab188 green
rgba(19, 35, 47, 0.9) blue
#c1bdba gray
 */

* {
    margin: 0px;
    padding: 0px;
}

p.edit-image{
    color: #00f;
    cursor: pointer;
}

.input-success{
    border-color: #0F0;
    border-width: 2px;
}

.input-error{
    border-color: #f00;
    border-width: 2px;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
  border-color: #059;
}
.success-msg {
  color: #270;
  background-color: GREEN;
  border-color: #270;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
  border-color: #9F6000;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  border-color: D8000C;
}

.fa-spinner{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


body{
    background-color: #303030;
}

a, a:hover, a:active, a:focus
{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    outline : none;
}
a:active
{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
}

.body-container{
    width: 100%;
    display: grid;
    color: #fff;
    grid-template-columns:1fr 5fr;
    grid-template-areas:
    "header header"
    "aside  main"
    "footer footer";
}

.body-header{
    grid-area: header;
    background-color: rgba(19, 35, 47, 0.9);
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas:
    "logo other";
}

.header-other{
    grid-area: other;
}


.header-logo{
    grid-area: logo;
    padding: 5px;
    color: white;
    display: grid;
    align-content: end;
    /* background-color: #F9A61E; */
}

.body-aside{
    /* width: 100%; */
    grid-area: aside;
    border: 0px;
    display: grid;
    align-content: start;
    background-color: #1ab188;
    padding: 20px 0px;
}

td.details-control {
    background: url('resource/open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('resource/close.png') no-repeat center center;
}

.body-aside .divider{
    background-color: #FFFFFF;
}

.profile-image{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 50px;
}

.menu-link-container{
    display: grid;
}

.body-main{
    /* width: 100%; */
    grid-area: main;
    display: grid;
    align-content: start;
    color: rgba(19, 35, 47, 0.9);
    padding: 10px;
    text-align: center;
    background-color: #c1bdba;
}


.divider{
    background-color: #000000;
    height: 3px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.body-main .divider{
    background-color: rgba(19, 35, 47, 0.9);
}


.body-footer{
    grid-area: footer;
    background-color: #3d3d3d;
    text-align: center;
    padding: 20px;
}

.menu-link{
    background-color: rgba(0,0,0,0);
    padding: 5px;
    font-weight: bold;
    color: #fff;
}

.menu-link:hover{
    color: #c1bdba;
    background-color: rgba(19, 35, 47, 0.9);
}

.add-form{
    /* width: 50%; */
    display: grid;
    grid-row-gap: 10px;
    /* align-content: center; */
}

.form-element{
    margin: 5px;
    display: grid;
    align-self: baseline;
}

.form-element *{
    align-self: center;
    margin: 0px 2px;
}

input, select{
    border-style: solid;
    background-color: #fff;
    border-color: #555;
    border-width: 1px;
    border-radius: 0%;
    padding: 2px 4px;
}

.del-btn{
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #f00;
    border-style: none;
    color: #fff;
    border-radius: 0%;
}


.submit-btn{
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #1F8BCC;
    border-style: none;
    color: #fff;
    border-radius: 0%;
}


fieldset{
    display: inline-block;
}

.btn:hover{
    cursor: pointer;
}

.add-btn{
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #0c0;
    border-style: none;
    color: #fff;
    border-radius: 0%;
}

.add-screen-btn{
    width: 25%;
    margin: 5px;
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #1ab188;
    border-style: none;
    color: #fff;
    border-radius: 0%;
}
.add-screen-form{
    display: grid;
    grid-row-gap: 10px;
}

.note{
    text-align: left;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    margin: 5px;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-spinner{
    justify-self: start;
    animation: spin 1s linear infinite;
}

.fa-circle-notch{
    /* justify-self: start; */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
