* {
    margin: 0px;
    padding: 0px;
}

.body-container{
    display: grid;
    grid-template-columns: 1fr 1fr 7fr 1fr;
    grid-template-areas:
    "head head head head"
    "aside aside content content"
    "foot foot foot foot";
}

a{
    text-decoration: none;
}

a:link{
    color: #FFFFFF;
}

a:visited{
    color: #FFFFFF;
}

header{
    padding: 5px;
  grid-area: head;
  background-color: #13232F;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-areas:
  ". logo head-link .";
}

.logo{
  grid-area: logo;
}

.head-links{
  grid-area: head-link;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.head-links a{
    padding: 10px;
    vertical-align: middle;
}

.head-links a:hover{
    background-color: #1ab188;
}

aside{
    grid-area: aside;
    background-color: #325C7B;
    padding: 5px;
}

.aside-links{
    display: grid;
    text-align: center;
    grid-row-gap: 5px;
}
.aside-links a{
    padding: 10px;
}

.aside-links a:hover{
    background-color: #13232F;
}

main{
  grid-area: content;
  height: 20px;
  background-color: #300;
}

footer{
  grid-area: foot;
  color: #FFF;
  text-align: center;
  padding: 10px;
  background-color: #000000;
}
