* {
    margin: 0px;
    padding: 0px;
}



a{
    text-decoration: none;
    color: #000;
}

a:visited{
    color: #000;
}

.body-container{
    width: auto;
    display: grid;

}

header{
    width: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 1fr;
    grid-template-areas:
    ". logo links ."
    "line line line line";
}

.logo{
    grid-area: logo;
}

.links{
    grid-area: links;
    text-align: right;
    font-size: 0.8em;
}
.links *{
    padding: 0px 3px;
}
.links i{
    font-size: 2em;
}

.line{
    grid-area: line;
    margin-top: 1em;
    height: 2px;
    background-color: #000;
}

.file_upload{
    padding: 20px;
    margin: 10px;
    background-color: #555;
    color: #fff;
    border-radius: 15px;
}

.preview_image{
    margin: 5px;
    padding: 3px;
    border-width: 5px;
    border-style: solid;
    border-color: #555;
}

.text_to_image{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
