*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #333;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.screen-containor{
    background-color: #fff;
    width: 480px;
    height: 800px;
    display: grid;
    grid-row-gap: 10px;
    align-content: start;
    margin: 10px;
    padding: 5px;
}

i{
    padding: 0px 5px;
}

.hr{
    background-color: #000;
    width: 100%;
    height: 3px;
    margin: 10px 0px;
}

h1{
    font-size: 1.8em;
    font-weight: bold;
}

h2{
    font-size: 0.8em;
}

h3{
   font-size: 1em;
}

h4{
    0.9em;
}



.center{
    text-align: center;
}
.grades-QR{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.course img{
    width: 100%;
}

.status{
    font-size: 3em;
    font-weight: bold;
    margin: 30px 0px;
}

.table-schedule{
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-schedule thead th{
    font-size: 0.6em;
}

.table-schedule tbody th{
    font-size: 0.8em;
}

.table-schedule td, .table-schedule th{
    padding: 2px;
}

.table-schedule thead th:not(:first-child):not(:last-child){
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.table-schedule thead th:not(:first-child){
    border-bottom: 2px solid black;
}

.table-schedule  td{
    font-size: 0.9em;
    border-bottom: 2px solid black;
}

.table-schedule  td:not(:last-child){
    border-right: 2px solid black;
}
